#footer {
  width: 100vw;
  padding: 50px 0 20px 0;
  background-color: #1d1f20;
}
#footer .footer_box {
  width: 70vw;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  gap: 50px;
}
#footer .footer_box .footer_top {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr repeat(4, auto);
  color: white;
  gap: 6vw;
}
#footer .footer_box .footer_top .footer_textbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#footer .footer_box .footer_top .footer_textbox h4 {
  font-size: 1rem;
}
#footer .footer_box .footer_top .footer_textbox .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
#footer .footer_box .footer_top .footer_textbox section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#footer .footer_box .footer_top .footer_textbox address,
#footer .footer_box .footer_top .footer_textbox small,
#footer .footer_box .footer_top .footer_textbox a {
  font-size: 0.8rem;
  font-style: normal;
  color: white;
}
#footer .footer_box .footer_bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  align-items: center;
}
#footer .footer_box .footer_bottom address {
  font-style: normal;
}
